<h2> <%= Game.stored_game.player1.name %>'s Hit Points:<%=Game.stored_game.player1.hit_points %></h2>
<h2> <%= Game.stored_game.player2.name %>'s Hit Points:<%=Game.stored_game.player2.hit_points %></h2>

<%if Game.stored_game.player1.hit_points == 0 %>
<%=Game.stored_game.player2%> WON!
<%elsif Game.stored_game.player2.hit_points == 0 %>
<%=Game.stored_game.player1%> WON!
<% else %>
Game.stored_game.player2.hit_points == 0
<form action="/attack" method="post">
  <% if Game.stored_game.turn == Game.stored_game.player1 %>
  <%= Game.stored_game.player1.name %>'s turn!
  <button type="submit" name="attack" value="attack">Attack Player 1</button>
  <% elsif Game.stored_game.turn == Game.stored_game.player2 %>
  <%= Game.stored_game.player2.name %>'s turn!
  <button type="submit" name="attack" value="attack">Attack Player 2</button>
  <%end%>
</form>
<p>
<% end %>

<% if Game.stored_game.player2.attacked == true && Game.stored_game.player1.attacked == false %>
<h2> Player 2 has been attacked! </h2>
<% elsif Game.stored_game.player1.attacked == true && Game.stored_game.player2.attacked == false%>
<h2> Player 1 has been attacked! </h2>
<%end%>
